{% extends './base.html' %}

{% block content %}
	<h1> Igor Todo List </h1>
	<form class="insert" method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<button type="submit">Create Task</button>
	</form>

	<ul>
	{% for todo in todo %}
		<li class="todo-item">{{todo.title}}</li>
		
		<form method="POST" action="{% url 'delete' pk=todo.id %}">
			{% csrf_token %}
			<input type="submit" class="delete" value="Delete">
		</form>

		<form method="POST" action="{% url 'edit' pk=todo.id %}">
			{% csrf_token %}
			<input type="submit" class="edit" value="edit">
		</form>
	{% endfor %}
	</ul>
{% endblock %}